@import "@blueprintjs/core/lib/scss/variables.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.editor{
  flex: 1;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-left: 1px solid #3c4043;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button{
  display: none;
}

::-webkit-scrollbar-corner{
  display: none;
}
#root{
  height: 100%;
}

html,
body{
  height: 100%;
  width: 100%;
  margin: 0;
  background: #252a31;
}
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #252a31;
  padding: 5px;
}
#app .bp4-button.bp4-active.bp4-minimal.toggle{
  background: $blue2;
}