html{
    height: 100vh;
}
body{
    font-size: 14px;
    background: #202124;
    color: #bdc1c6;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.pl-body{
    flex: 1;
    display: flex;
    border-top: 1px solid #3c4043;
    border-bottom: 1px solid #3c4043;
}
.pl-panel-group{
    display: flex;
    flex: 1;
}
.pl-panel-group.vertical{
    flex-direction: column;
}
.pl-panel-group.horizontal{
    flex-direction: row;
}
.pl-panel{
    box-sizing: content-box;
}
.pl-panel.flex{
    flex: 1
}
.pl-panel-title{
    border-bottom: 1px solid #3c4043;
}
.pl-panel-footer{
    border-top: 1px solid #3c4043;
    overflow: hidden;
}
.pl-panel-group.vertical>div>.pl-panel{
    border-bottom: 1px solid #3c4043;
}
.pl-panel-group.vertical>.pl-panel:last-child{
    border-bottom: none;
}

.pl-panel-group.horizontal>div>.pl-panel{
    border-right: 1px solid #3c4043;
}
.pl-panel-group.horizontal>.pl-panel:last-child{
    border-right: none;
}
.pl-panel-group.horizontal.hover{
    cursor: ew-resize;
}

.pl-panel-group.vertical.hover{
    cursor: ns-resize;
}

.pl-panel{
    display: flex;
    flex-direction: column;
}
.pl-panel-body{
    display: flex;
    flex: 1;
    overflow: hidden;
}
.pl-tab{
    display: flex;
}
.pl-panel-title{
    height: 25px;
}
.pl-panel-footer{
    height: 25px;
    padding: 0 5px;
    line-height: 25px;
}
.pl-tab-item{
    padding: 3px 10px;
}
.pl-tab.tab .pl-tab-item.current{
    color: #fff;
    background: #000;
}
.pl-panel-title{
    display: flex;
}
.pl-tab{
    flex: 1;
}
.pl-panel-right select{
    background: transparent;
    border: none;
    color: #fff;
    padding: 0 10px;
    height: 100%;
    border-left: 1px solid #3c4043;;
}
.pl-panel-right select:focus{
    outline: none;
}
.pl-panel-right-icons {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 0 10px;
    border-left: 1px solid #3c4043;
    border-right: 1px solid #3c4043;
}
.pl-panel-right-icons div{
    width: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 100%;
}
.pl-panel-right-icons div:hover{
    background-color: #555555;
}