.output-window-content{
    height: 100%;
    background: #1e1e1e;
    overflow-y: scroll;
    color: #dcdcdc;
    padding-left: 10px;
}
.output-window-content .output-msg-stderr{
    color: #f75464;
}
