.output-window-content{
    height: 100%;
    background: #1e1e1e;
    overflow-y: auto;
    color: #dcdcdc;
    padding-bottom: 15px;
}
.output-window-content pre{
    margin-top: 0;
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 18px;
    font-feature-settings: "liga" 0, "calt" 0;
    line-height: 24px;
    letter-spacing: 0;
}
.output-window-content .output-msg-stderr{
    color: #f75464;
}
.output-msg{
    padding: 3px 3px 3px 3px;
    border-bottom: 1px solid #ffffff33;
}