.class-image-view{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.class-image-window-content{
    background: #1e1e1e;
    padding: 10px;
    box-sizing: content-box;
    height: 100%;
    overflow: auto;
}
.class-image-item{
    border:1px solid #ffffff55;
    border-radius: 5px;
}

.class-image-item-title{
    display: flex;
    background: #ffffff22;
    padding: 5px;
}
.class-image-item-group{
    border-bottom: 1px solid #ffffff33;
}
.class-image-item-group:last-child{
    border-bottom:none
}
.class-image-item-groups{
    font-family: Consolas, "Courier New", monospace;
    background: #ffffff11;
}
.class-image-item-group-name{
    padding: 3px;
    text-transform: uppercase;
}
.class-image-item-group-row{
    color: #bec1c6;
    display: flex;
    padding: 3px;
    justify-content: space-between;
}
.class-image-item-group-row:hover{
    color: #fff;
    background: #ffffff22;
}
.class-image-item-group-row.flash:hover{
    color: #fff;
    background: #ffffff11;
}
.class-image-item-group-row.flash{
    color: #fff;
    background: #ffffff22;
}
@keyframes blinkingBackground{
    0%		{ background-color: #ffffff33;}
    50%		{ background-color: #ffffff00;}
    100%	{ background-color: #ffffff33;}
}
.class-image-item-group-row-key{
    margin-right: 20px;
}
.class-image-view-method-list .class-image-item{
    margin-bottom: 10px;
}
