.class-window-toolbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.class-image-view{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.class-image-window-content{
    background: #1e1e1e;
    padding: 10px 10px 30px 10px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}
.class-image-item{
    border:1px solid #ffffff33;
    border-radius: 5px;
    min-width: 200px;
}

.class-image-item-title{
    display: flex;
    align-items: center;
    background: #ffffff11;
    padding: 5px;
}
.class-image-item-group{
    border-bottom: 1px solid #ffffff33;
}
.class-image-item-group:last-child{
    border-bottom:none
}
.class-image-item-groups{
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
}
.class-image-item-group-name{
    padding: 3px;
    text-transform: uppercase;
}
.class-image-item-group-row{
    color: #bec1c6;
    display: flex;
    height: 25px;
    overflow: hidden;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
    justify-content: space-between;
}
.class-image-item-group-row:hover{
    color: #fff;
    background: #ffffff22;
}
.class-image-item-group-row.flash:hover{
    color: #fff;
    background: #ffffff11;
}
.class-image-item-group-row.flash{
    color: #fff;
    background: #ffffff22;
}
@keyframes blinkingBackground{
    0%		{ background-color: #ffffff33;}
    50%		{ background-color: #ffffff00;}
    100%	{ background-color: #ffffff33;}
}
.class-image-item-group-row-key{
    margin-right: 20px;
}
.class-image-view-method-list .class-image-item{
    margin-bottom: 10px;
}
.class-image-item-group-row-value{
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-top: 5px;
    margin-left: -5px;
    margin-top: -5px;

}