.pl-root{
    background: #202124;
    color: #bdc1c6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.pl-body{
    flex: 1;
    display: flex;
    border-top: 1px solid #3c4043;
    border-bottom: 1px solid #3c4043;
}
.pl-panel-group{
    display: grid;
    flex: 1;
}
.pl-panel{
    position: relative;
}
.pl-panel.flex{
    flex: 1
}
.pl-panel-group.vertical .pl-panel{
    border-bottom: 1px solid #3c4043;
}
.pl-panel-group.vertical .pl-panel:last-child{
    border-bottom: none;
}

.pl-panel-group.horizontal .pl-panel{
    border-right: 1px solid #3c4043;
}
.pl-panel-group.horizontal .pl-panel:last-child{
    border-right: none;
}
.pl-panel-group.horizontal .resize-edge{
    cursor: ew-resize;
}




